/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* my */

::before,
::after {
  box-sizing: border-box;
}


.container {
  margin: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 1200px;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 40px;
}

.search-input {
  width: 238px;
  line-height: 1.5;
  color: #808080;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #808080;
  outline: none;
}

.search-input:hover {
  border-color: #888;
}

.search-input:focus {
  border-color: #4e75ff;
}

.search-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.search-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
}

.gallery-web {
  width: 360px;
  height: 248px;
  border: 1px solid #808080;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #808080;
  border-radius: 4px;
  overflow: hidden;
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  width: 360px;
  height: 248px;
  object-fit: cover;
}

.image-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.image-info li {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  list-style: none;
}

.comments-strage {
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid #808080;
  flex-direction: column;
  border-top: none;
}

.comments-strage-list {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  line-height: 2;
}

.windows {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.load-more:hover {
  background-color: #6c8cff;
}

.load-more.is-hidden {
  display: none;
}

.loader {
  display: none;
  margin: 20px auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4e75ff;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.visually-hidden {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

